body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4cd2bf;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}
img {
    max-width: 100%;
    height: auto;
    width: 65%;
    display: block;
    margin: 10px auto; 
}

.title_container{
    background-color: #eeeeee;
    border-bottom: solid 3px #cccccc;
    border-left: solid 5px #eb88a5;
    height: 60px;
    margin-bottom: 7%;
}
.title{
    font-size: 24px;
    margin: 4%;
    top: 0%;
    left: 0;
    line-height: 60px;
}

.komidashi_container{
    border-left: solid 4px #82a3cd;
    margin-left: 3%;
}
.komidashi{
    font-size: 20px;
    margin-left: 1%;
}

.p1{
    font-size: 16px;
    line-height: 1.5;
    margin-left: 5%;
    /* background-color:#dcdcdc; */
}
.p2{
    font-size: 16px;
    line-height: 1.5;
    background-color:#e6e6fa;
}

.adress_container {
	display: flex;
    position: relative;
    margin-left: 5%;
}
.p_container{
    background-color: #eeeeee;
    border-bottom: solid 3px #cccccc;
    border-left: solid 5px #eb88a5;
}
.p_container p{
    margin-left: 2%;
}
.copy_bt {
    height: 50px; 
    width: 50px;
	padding: 10px;
    background: transparent;
    border:none;
    position: absolute;
    top: -2px;
    left: -40px; 
}
.copy_bt:hover {
    height: 55px; 
    width:55px;
}